~/Documents
~/Downloads
~/Desktop
~/depthai
~/depthai-python
~/.bash_history
~/.bash_logout
~/.bashrc
~/.cache
~/ch340_diver
~/CH341SER
~/'CSC^2'
~/.cursor
~/Cursor
~/.cursor-sever
~/
~/depthai
~/depthai-python
~/.gnupg
~/lane_segmentation_frames
~/lane_segmentation_output
~/lane_segmentation_output.avi
~/lane_segmentation_gallery.html
~/LICENSE
~/.local
~/mapproxy.yaml
~/maps
~/minicom.log
~/nix
~/.nix-channels
~/.nix-defexpr
~/.nix-profile
~/
~/
~/
~/
~/
~/
~/
~/
~/
~/
~/
